<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vCard to Qrcode Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vue-qrcode.min.js"></script>
    <script src="vcard-creator.js"></script>
    <script src="live.js"></script>
</head>

<body>
    <div id="app">
        <ol>
            <li>
                <label for="Name">Name</label>
                <input v-model="Name">
            </li>
            <li><label for="Company">公司</label>
                <input v-model="Company">
            </li>
            <li> <label for="Jobtitle">职位</label>
                <input v-model="Jobtitle">
            </li>
            <li> <label for="PhoneNumber1">电话1</label>
                <input v-model="PhoneNumber1">
            </li>
            <li> <label for="PhoneNumber1">电话2</label>
                <input v-model="PhoneNumber2">
            </li>
        </ol>
        <qrcode v-bind:value="qrcodeValue"></qrcode>
    </div>

    <script>
        Vue.config.productionTip = true;

        var vCard = window.vcardcreator.default;

        Vue.component(VueQrcode.name, VueQrcode);

        var app8 = new Vue({
            el: '#app',
            data: {
                Name: "",
                //lastName: "",//名
                //firstName: "", //姓
                //additional: "",
                //prefix: "",
                //suffix: "",
                Company: "",
                Jobtitle: "",
                //Role: "",
                //Email: "",
                PhoneNumber1: "",
                PhoneNumber2: "",
                //Address: "",
                //URL: ""
            },
            computed: {
                qrcodeValue: function () {
                    var vcard = new vCard();
                    lastName = "";
                    firstName = "";
                    //根据姓名长度，识别姓氏和名字（大雾方式）
                    if (this.Name.length < 4) {
                        lastName = this.Name.slice(1);
                        firstName = this.Name.slice(0, 1);
                    } else if (this.Name.length == 4) {
                        lastName = this.Name.slice(2, 4);
                        firstName = this.Name.slice(0, 2);
                    } else {
                        lastName = this.Name;
                    }
                    //vcard.addName(lastName, firstName, this.additional, this.prefix, this.suffix)
                    vcard.addName(lastName, firstName, '', '', '')
                    vcard.addCompany(this.Company)
                    vcard.addJobtitle(this.Jobtitle)
                    //vcard.addRole(this.Role)
                    //vcard.addEmail(this.Email)
                    vcard.addPhoneNumber(this.PhoneNumber1, 'PREF;WORK')
                    vcard.addPhoneNumber(this.PhoneNumber2, 'WORK')
                    //vcard.addAddress('', '', '', '', '', '', '')
                    //vcard.addURL(this.URL)
                    return vcard.toString()
                }
            }
        })


    </script>
</body>

</html>